body{
    display: flex;
    flex-direction: row;    
    justify-content: center;

    height: 100vh;
    margin: 0px;
    background-color: rgb(237,237,237);
}

.leftColumn{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.btnsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    
    gap: 30px;
}

.middleColumn{
    flex: 2;
}

.title{
    font-size: 86px;
    font-weight: bold;
}

.sketchPad{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 3px grey;
}

.btn{
    font-size: 1rem;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid ;
    
}

.btnRow{
    display: flex;
    flex-direction: row;
}

.inputColor {
    height: 100px;
    width: 100px;
    border: none;
}


.btnEraser, .btnClear {
    cursor: grab;
}
.gridSize {
    font-size: 2rem;
    margin: 0px;

}