body{
    display: flex;
    flex-direction: row;    
    justify-content: center;

    height: 100vh;
    margin: 0px;
    background-color: rgb(237,237,237);
}

.leftColumn{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.btnsContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.middleColumn{
    flex: 2;
}

.title{
    font-size: 86px;
    font-weight: bold;
}

.sketchPad{
    display: flex;
    
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 3px grey;
}

.btn{
    width: 150px;
    height: 40px;
}

.btnRow{
    display: flex;
    flex-direction: row;
}
input[type=color]{
    display: none;
}
.btnColor {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
span {
  border-radius: 50%;
  width: 100px;
  height: 100px; 
  background-color:red;
  display:inline-block;
}